*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    
}
li,h1,ul{
    display: inline;
}
ul{
    margin: 55%;
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color: whitesmoke;
}
input{
    width: 60%;
    padding: 10px;
    text-align: center;
    
    
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    width: 290px;
}
.box:hover{
    background-color: grey;
}
.products{
    text-align: center;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 15px;
}
.contact{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 40px;
    font-size: 16px;

}
